body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 30px 20px;
  border-bottom: 2px solid #281e6f;
}

.header h1 {
  color: #00d790;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: #00d790;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.btn:active {
  transform: scale(0.98);
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

table {
  margin-top: 30px;
  width: 80%;
  border-spacing: 0;
  box-shadow: 0 8px 12px 0 rgb(0 0 0 / 25%);
}

th,
td {
  margin: 0;
  border-bottom: 3px solid #281e6f;
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: center;
  padding: 20px;
}

th {
  background-color: #00d790;
  border-top: 3px solid #281e6f;
  color: white;
}

td {
  background-color: #fafafa;
}

.disabled td {
  background-color: #bbb;
}

footer {
  text-align: center;
}
